td.right-align {
    text-align:right;
}

body {
    overflow-y:scroll;
}

text {
    font: 12px sans-serif;
}

svg {
    display: block;
}

#chart-container {
    height: 600px;
    width: 800px;
    min-width: 100px;
    min-height: 100px;
}


ul.resultList {
    list-style-type:none;width:200px
}

li.result {
    background-color:#CCCCCC;
    position:relative;
    padding-bottom:20px;
    margin-bottom:20px;
    padding-top:5px;
    padding-left:5px;
    padding-right:10px
}

li.selectedResult {
    background-color: #8FACB3;
    border-width: 1px;
    border-style: solid;
}

.queryId {
    float:left;
    font-size:10px;
}

.queryText {
    clear:both;
    margin-left:5px;
    font-family:monospace;
}

.queryFilter {
    font-size:10px
}

.queryResultCount {
    position:absolute;
    right:0;
    bottom:0;
    font-size:10px;
    padding-right:10px
}

.chartBox {
    float:left
}

.chartList {
    list-style-type:none;
    margin:0;
    padding:0;
    height:80px
}

.chartOption {
    float:left;
    width:100px;
    display:block;
    background-color: #CCCCCC;
    text-align:center;
}

li.selectedChart {
    background-color: #B3968F;
    border-width:1px;
    border-style:solid;
}

